<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  
  <connectionStrings>
    <add name="myConnection" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=TheGreatBigGreen;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;User ID=web_user;Password=web_user" providerName="Sql.Data.SqlClient" />
    <add name="myConnectionAd" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=TheGreatBigGreen;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;User ID=web_admin;Password=web_admin" providerName="Sql.Data.SqlClient" />
    <add name="TheGreatBigGreenConnectionString" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=TheGreatBigGreen;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;User ID=web_admin;Password=web_admin" providerName="System.Data.SqlClient" />
    <add name="TheGreatBigGreenConnectionString2" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=TheGreatBigGreen;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;User ID=web_user;Password=web_user" providerName="System.Data.SqlClient" />
    
    <!-- LOCAL DESKTOP CONNECTION
    <add name="myConnection" connectionString="Server=localhost;Database=TheGreatBigGreen;User ID = web_user;Password = web_user;" providerName="Sql.Data.SqlClient" />
    <add name="myConnectionAd" connectionString="Server=localhost;Database=TheGreatBigGreen;User ID = web_admin;Password = web_admin;" providerName="Sql.Data.SqlClient" />
    <add name="TheGreatBigGreenConnectionString" connectionString="Data Source=DESKTOP-F46H9UQ;Initial Catalog=TheGreatBigGreen;User ID=web_admin;Password=web_admin" providerName="System.Data.SqlClient" />
    <add name="TheGreatBigGreenConnectionString2" connectionString="Data Source=DESKTOP-F46H9UQ;Initial Catalog=TheGreatBigGreen;User ID=web_user;Password=web_user" providerName="System.Data.SqlClient" />
    -->
 </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <!-- All assemblies updated to version 15.0.0.0. -->
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <!--Report Viewer Error-->
        <!--<add assembly="Microsoft.ReportViewer.DataVisualization, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.ReportViewer.Design, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <!--Report Viewer Error-->
       <!-- <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.ReportViewer.WebDesign, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WinForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <!-- Version updated to 15.0.0.0. -->
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <httpHandlers>
      <!-- Version updated to 15.0.0.0 -->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <!-- Version updated to 15.0.0.0 -->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>